header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #8d99ae;
}

h1 {
  padding: 1rem;
  color: #edf2f4;
}